@page "/product"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Localization

<AuthorizeView Roles="Admin,User" Context="pageContext">
    <NotAuthorized>
        <div>Not Authorized</div>
    </NotAuthorized>
    <Authorized>
        <h3>@Localizers["Title"]</h3>
        @if (ProductModels == null)
        {
            <p>Loading ...</p>
        }
        else
        {
            <a class="btn btn-primary" href="/product/create">Create</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ProductName</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>CreatedAt</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in ProductModels)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.Quantity</td>
                            <td>@product.Price</td>
                            <td>@product.Description</td>
                            <td>@product.CreateAt.ToShortDateString()</td>
                            <td>
                                <a class="btn btn-secondary" href="/product/update/@product.ID">Update</a>
                                <AuthorizeView Roles="Admin" Context="elementContext">
                                    <Authorized>
                                        <button class="btn btn-danger" @onclick="()=> { DeleteID = product.ID; Modal.Open();}">Delete</button>
                                    </Authorized>
                                </AuthorizeView>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <AppModal @ref="Modal">
                <Title>Notification</Title>
                <Body>
                    Do you sure want to delete this product?
                </Body>
                <Footer>
                    <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Cancel</button>
                </Footer>
            </AppModal>
        }
    </Authorized>
</AuthorizeView>
